<div class="row marketing">
  <div class="col-lg-6">
    <h4>Winners thus far</h4>
    <ul>
      <%= for teamTotals <- @playersTotalWins do %>
        <h1><%= getPlayerName(teamTotals) %></h1>
        <li><%= getPlayerScore(teamTotals) %></li>
      <% end %>
    </ul>
  </div>
</div>
